.App {
  color: rgb(38, 33, 50);
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  background-color: white;
  position: relative;
  display: flex;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
}


p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: rgb(38, 33, 50);
  border-radius: 10vw;
  border: 1px solid rgb(38, 33, 50);
}

.hidden {
  display: none;
}

.landing{
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loadingPage{
  text-align: center;
  padding-top: 40vh;
}

.noParticle{
  width: 100vw;
  z-index: 100;
  overflow: scroll;
  margin-top: 80px;
}

.betaButton {
  text-decoration: underline;
}

.goButton {
  font-family: 'Raleway', sans-serif;
  margin-top: 7vh;
  height: 10vh;
  width: 12vw;
  background-color: white;
  color: rgb(38, 33, 50);
  border-radius: 10vw;
  border: 1px solid rgb(38, 33, 50);
  font-size: 3vw;
}

.loadButton{
  font-family: 'Raleway', sans-serif;
  margin: 7vh auto 3vh auto;
  height: 7vh;
  width: 20vw;
  background-color: white;
  color: rgb(38, 33, 50);
  border-radius: 10vw;
  border: 1px solid rgb(38, 33, 50);
  font-size: 3vw;
  text-align: center;
}

.loadButtonWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hipsterPage {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(0, -50%);
  overflow: scroll;
}

.description {
  padding: 0vh 20vw;
}

.percentMessage h1{
  margin-bottom: 0 !important;
  font-weight: 300;
  padding: 20vh 10vw 0vh 10vw;
}

.percentMessage h2{
  margin-top: 5px !important;
  padding-bottom: 5vh;
}

.shareIconButton {
  display:inline-block;
  color: white;
  padding: 0vh 10px;
  margin-bottom: 10px;
}


.legal {
  font-size: 15px;
  display: flex;
  padding: 0 10vw;
}

.legal a {
  padding: 0vh 10vw;
  width: 50%;
  text-align: center;
}

input {
  background: transparent;
  width: 40vw;
  color:rgb(38, 33, 50);
  /* border-radius: 10vw; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid rgb(38, 33, 50) 1px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.locInputDiv{
  text-align: center;
}

.locInput{
  margin-right: 10px;
}

.locButton{
  font-size: 20px;
  padding: 4px 10px;
}

.particleButton {
  display: block !important;
}

.submitButton{
  font-family: 'Raleway', sans-serif;
  margin-top: 3vh;
  background-color: rgb(38, 33, 50);
  color: white);
  border-radius: 10vw;
  border: none;
  font-size: 3vw;
}
.signup h3{
  padding: 0vh 20vw;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
  h1 {
      font-size: 30px;
  }

  h2 {
    font-size: 18px;
    font-weight: 200;
  }

  h3 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }

  .goButton {
    height: 40px;
    width: 70px;
    font-size: 15px;
  }

  input{
    font-size: 15px;
    height: 20px;
  }

  .submitButton {
    height: 30px;
    width: 100px;
    font-size: 12px;
  }

  .description p{
    font-size: 12px;
  }

}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  h1 {
      font-size: 50px;
  }

  h2 {
    font-size: 28px;
    font-weight: 200;
  }

  h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  .goButton {
    height: 50px;
    width: 80px;
    font-size: 20px;
  }

  input{
    font-size: 20px;
    height: 30px;
  }


  .submitButton {
    height: 30px;
    width: 100px;
    font-size: 17px;
  }

  .description p{
    font-size: 14px;
  }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  h1 {
      font-size: 70px;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  p {
    font-size: 17px;
  }

  .submitButton {
    height: 40px;
    width: 120px;
    font-size: 20px;
  }

  .goButton {
    height: 60px;
    width: 100px;
    font-size: 25px;
  }

  input{
    font-size: 27px;
    height: 35px;
  }

  .description p{
    font-size: 16px;
  }


}

.primaryHeader {
  text-align: center;
  font-size: 50px
}

.concert {
  text-align: center;
  border: 1px solid #EEE;
  margin: 20px 70px 20px 70px;
  padding: 0 !important;
  border-radius: 10px;
}



.concertTitleContainer {
  background-size: cover !important;
  border-radius: 10px;
}


.concertTitle {
  font-weight: 400;
  padding: 70px 50px;
  color: white;
  margin: 0;
}


.artist {
  padding: 10px 60px 10px 60px;
}

.artistImage {
  min-height: 100px;
  min-width: 100px;
  max-height: 150px;
  max-width: 150px;
  display: inline-block;
}

.artistImageContainer{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  overflow: hidden;
}

.artistName {
  display: inline-block;
  padding-left: 20px;
  text-align: center;
}

.artistTable {
  width: calc(100vw - 250px);
  text-align: left;
  margin-bottom: 20px;
}

.match{
  text-align: center;
  margin-bottom: 20px;
}

.songList{
  padding-left:20px;
}

.playButton{
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
}

.trackName{
  text-align: left;
  padding-left: 20px;
}

.songkickLogo{
  width: 100px;
  margin-left: 5px;
}

.songkickWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.songkickWrapper h3{
  font-weight: 700;
}

.navBar{
  width: 100%;
  height: 80px;
  box-shadow: 10px 2px 8px 10px #EEE;
  z-index:200;
  position: fixed;
  background:white;
  line-height: 80px;
}

.navBarContent{
  position: fixed;
  right: 10px;
  display: flex;
}

.navTab{
  display: inline-block;
  padding: 0px 40px 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.navTabLogo{
  position: fixed;
  left: 40px !important;
}

.userProfPic {
  width: 40px;
  margin-top: 20px;
  border-radius: 50%;
}

.userDropDown {
  position: fixed;
  width: 100px;
  right: 10px;
  top: 70px;
  background: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 10px 2px 8px 10px #EEE;
}

.dropdownTooltip {
  width: 0;
  height: 0;
  position: fixed;
  right: 55px;
  top: 65px;
  z-index:300;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

.datePicker {
  /* border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px; */
  display: inline-block;
  width: 150px;
  margin: 10px 20px 10px 20px;
}

.dateSelection {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.about {
  margin: 100px 250px 100px 250px;
}

.libraryButton {
  margin-left: 20px;
}

.nowPlayingCard{
  width: 250px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: white;
  box-shadow: 1px 0px 8px 1px #EEE;
}

.player {
  display: flex;
}

.playInfo{
  height: 100px;
  width: 200px;
  text-align: center;
}

.songName {
  font-weight: 600;
  margin-top: 40px;
  overflow-x: scroll;
  white-space: nowrap
}

.buttonContainerCurr {
  margin: 30px 0px 20px 20px;
}

.addButton{
  text-decoration: underline;
  font-size: 13px;
}

.addedButton{
  font-size: 13px;
  color: rgba(0,0,0,.5);
}
